<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div class="card">
                <div class="cardheader">
                    Inicio de Sesion
                </div>
                <div class="card-body">
                <div class="input-group">
                    <input type="text" class="form-control">
                </div>
                <div class="input-group">
                    <input type="password" class="form-control">
                </div>
                </div>
                <div class="card-footer">

                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>
